:root {
	--background: #f3f3f3;
	--lightShadow: #aaaaaa;
	--darkShadow: #292929;
	--linkColor: #0bb2d4;	
	--linkHover: #17b3a3;
	--boxColor: #17b3a3;
	--buttonColor: #3e8ef7;
	--buttonHover: #589ffc;
	--buttonText: #fff;
	--inputBorder: #3e8ef7;
	--inputHover: hsl(214, 98%, 68%);
	--miniBar:  #0bb2d4;
	--miniHover:  #28c0de;
}
.opener {
	width: 32px;
	height: 32px;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 99;
	background-image: url("icon/menu.svg");
	background-size: cover;
	border-radius: 32px;
	background-color: var(--linkColor);
}
.opener:hover {
	background-color: var(--linkHover);
}
.opener a, .opener a:hover {width: 100%;height:100%;display: block;border: none;text-decoration: none;}
#nav {
	width: 20%;
	position: fixed;
	top: 0;
	left: -20%;
	height: 100vh;
	background-color: #fff;
	box-shadow: 0 0 5px var(--lightShadow);
	border-radius: 0 10px 0 10px;
	grid-template-columns: 32px auto 32px;
	grid-template-rows: 32px auto;
	display: grid;
	grid-gap: 10px;
	z-index: 100;
}
#nav:target {
	left: 0;
}
#nav .close {
	width: 32px;
	height: 32px;
	grid-column: 3;
	grid-row: 1;
	background-image: url("icon/cerrar.svg");
	background-size: cover;
	background-color: var(--linkColor);
	border-radius: 0 10px 0 0;
}
#nav .close:hover {
	background-color: var(--linkHover);
	border: none;
}
#nav .close a, #nav .close a:hover {width: 100%;height:100%;display: block;border: none;text-decoration: none;}
#nav .logo {
	grid-column: 2;
	font-family: Halogen;
	font-size: 30px;
	padding-top: 10px;
	text-align: center;
}
#nav .links {
	display: grid;
	margin-top: 10px;
	grid-column: 2;
	text-align: center;
	font-family: Source;
	font-size: 24px;
}
#nav .links ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#nav .links ul li {
	display: grid;
	padding: 10px;
	font-variant: small-caps;
}
#nav .links ul li a{border: none;}
#nav .links ul li a:hover{border: none;}