/*	SIDEBAR	*/
#sidebar {
    width: 20%;
    margin-top: 55px;
	float: left;
}
#sidebar #miAvatar {
	width: 225px;
	height: 225px;
	margin: 10px auto;
	clear: both;
	border-radius: 250px;
	background-image: url('../../img/avatar/santiagogimenez@outlook.com.ar/home.jpeg');
	background-size: cover;
}
#sidebar #miNombre {
	width: 100%;
	margin: 10px auto;
	font-family: Nikoleta;
	font-size: 28px;
	text-align: center
}
#sidebar #miLema {
	width: 100%;
	margin: 5px auto;
	font-family: Jaime;
	font-size: 30px;
	text-align: center;
}
#sidebar #misRedes {
	width: 95%;
	margin: 10px auto;
	border-top: 1px solid rgb(206, 206, 206);
}
#sidebar #misRedes ul li {
	width: 100%;
	padding: 10px .5%;
	clear: both;
}
#sidebar #misRedes .logo {
	width: 50px;
	height: 50px;
	background-size: cover;
	float: left;
}
#sidebar #misRedes .texto {
	margin-left: 10px;
	width: 130px;
	float: left;
	color: rgb(131, 131, 131);
	font-size: 14px;
	line-height: 25px;
}
#sidebar #misRedes .texto span {font-size: 16px;color: #212121;font-variant: small-caps;}

@media only screen and (max-width: 801px) {
    #sidebar {
        width: 100%;
        margin-top: 85px;
		clear: both;
    }
    #sidebar #misRedes .logo {
        width: 50px;
        height: 50px;
    }
    #sidebar #misRedes .texto {
        margin-left: 10px;
        width: 130px;
        font-size: 14px;
        line-height: 25px;
    }
	#sidebar #miAvatar {
        width: 150px;
        height: 150px;
    }
    #sidebar #miNombre {font-size: 24px;}
    #sidebar #miLema {font-size: 20px;}
}
@media only screen and (max-width: 1025px) {
    #sidebar #miAvatar {
        width: 150px;
        height: 150px;
    }
    #sidebar #miNombre {font-size: 24px;}
    #sidebar #miLema {font-size: 20px;}
}
@media only screen and (max-width: 1281px) {
    #sidebar #miAvatar {
        width: 150px;
        height: 150px;
    }
    #sidebar #misRedes .logo {
        width: 36px;
        height: 36px;
    }
    #sidebar #misRedes .texto {
        width:70px;
        font-size: 11px;
        float: left;
        line-height: 18px;
    }
    #sidebar #misRedes .texto span {
        font-size: 14px;
    }
}