/*	SIDEBAR	*/
#root .sidebar {
	display: grid;
	grid-row-gap: 10px;
	grid-row: 1;
	grid-template-columns: auto 250px auto;
	grid-template-rows: 250px 28px 30px auto; /* Una para el avatar, otra para el Nombre, otra para el lema y la última para las redes (con <ul><li>) */ 
	background-color: var(--background);
	background-color: var(--background);
}
#root .sidebar .avatar {
	grid-column: 2;
	grid-row: 1;
	border-radius: 250px;
	background-image: url('../../img/avatar/santiagogimenez@outlook.com.ar/home.jpeg');
	background-size: cover;
}
#root .sidebar .title {grid-column: 2;}
#root .sidebar .title, #root .profileSidebar .nickname {
	grid-row: 2;
	font-family: Nikoleta;
	font-size: 28px;
	text-align: center;
}
#root .sidebar .caption {grid-column: 2;}
#root .sidebar .caption, #root .profileSidebar .email {
	grid-row: 3;
	font-family: Roboto;
	font-size: 18px;
	text-align: center;
}
#root .sidebar .caption {
	font-family: Jaime;
	grid-row: 3;
	font-size: 30px;
	text-align: center;
}
#root .sidebar .connect {
	grid-column: 1 / span 3;
	grid-row: 4;
}
#root .sidebar .connect ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 3;
	grid-gap: 0 10px;
}
#root .sidebar .connect ul li {
	width: 100%;
	padding: 10px .5%;
	clear: both;
}
#root .sidebar .connect .fb, #root .sidebar .connect .tw, #root .sidebar .connect .yt {
	width: 50px;
	height: 50px;
	background-size: cover;
	float: left;
}
#root .sidebar .connect .fb {
	background-image:url('icon/facebook.svg');
	fill: #1a68e1 !important;
}
#root .sidebar .connect .tw {
	background-image:url('icon/twitter.svg');
	fill: #1aa6e1 !important;
}
#root .sidebar .connect .yt {
	background-image:url('icon/youtube.svg');
	fill: #da2d22 !important;
}
#root .sidebar .connect .logo:hover {
	box-shadow: 0 0 5px var(--darkShadow);
}
#root .sidebar .connect .texto {
	margin-left: 10px;
	width: 130px;
	float: left;
	color: rgb(131, 131, 131);
	font-size: 14px;
	line-height: 25px;
}
#root .sidebar .connect .texto span {font-size: 16px;color: #212121;font-variant: small-caps;}
/* PROFILE SIDEBAR */
#root .profileSidebar {
	display: grid;
	grid-column: 1;
	grid-row: 1;
	grid-row-gap: 10px;
	grid-template-columns: 100%;
	grid-template-rows: 50px 30px 28px calc(100vh - 50px - 30px - 28px);
	background-color: var(--background);
	background-color: var(--background);
}
#root .profileSidebar #posts {
	grid-row: 4;
}
#root .profileSidebar #posts ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	margin: 0;
	padding: 0;
	grid-gap: 10px;
	overflow-y: auto;
}
#root .profileSidebar #posts ul li {
	grid-column: 1;
	background-size: cover;
	background-position: center;
}
#root .profileSidebar #posts ul li a {
	background-image: url('styleHack/bg-35.png');
	border: none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 100%;
	grid-template-rows: 50px 26px 20px 50px;
	text-align: center;
}
#root .profileSidebar #posts ul li .title {
	width: 100%;
	font-family: Nikoleta;
	font-size: 26px;
	grid-row: 2;
	text-shadow: 0 0 5px var(--lightShadow);
}
#root .profileSidebar #posts ul li .category {
	width: 100%;
	grid-row: 3;
	font-family: Roboto;
	font-size: 20px;
	text-shadow: 0 0 5px var(--lightShadow);
}
@media only screen and (max-width: 1025px) {
	#root .sidebar, #root .profileSidebar {
		grid-column: 1 / span 3;
		grid-template-columns: auto 250px auto;
		grid-template-rows: 250px 28px 30px auto;
	}
	#root .profileSidebar {
		display: grid;
		grid-column: 1 / span 3;
	}
	#root .profileSidebar .nickname {
		grid-column: 1 / span 3;
	}
	#root .profileSidebar .email {
		grid-column: 1 / span 3;
	}
	#root .profileSidebar #posts {
		grid-column: 1 / span 3;
		text-align: center;
	}
}
@media only screen and (max-width: 1367px) {
	#root .sidebar {
		grid-template-columns: auto 150px auto;
		grid-template-rows: 150px 20px 28px auto;
	}
	#root .sidebar .avatar {
		width: 150px;
		height: 150px;
	}
	#root .sidebar .title {font-size: 20px;}
	#root .sidebar .caption {font-size: 24px;}
	#root .sidebar .connect .texto {
		font-size: 10px;
	}
	#root .sidebar .connect .texto span {
		font-size: 10px;
	}
}
@media only screen and (max-width: 1601px) {
	#root .sidebar {
		grid-template-columns: auto 170px auto;
		grid-template-rows: 170px 24px 30px auto;
	}
	#root .sidebar .avatar {
		width: 170px;
		height: 170px;
	}
	#root .sidebar .title {font-size: 22px;}
	#root .sidebar .caption {font-size: 26px;}
	#root .sidebar .connect .fb, #root .sidebar .connect .tw, #root .sidebar .connect .yt {
		width: 32px;
		height: 32px;
	}
	#root .sidebar .connect .texto {
		font-size: 12px;
	}
	#root .sidebar .connect .texto span {
		font-size: 12px;
	}
}