@font-face {
    font-family: Halogen; /* Para la portada y lugares dónde necesite una fuente sofisticada */
    src: url('font/halogen.otf');
}
@font-face {
    font-family: Nikoleta; /* Para la portada y lugares dónde necesite una fuente sofisticada */
    src: url('font/nikoleta.ttf');
}
@font-face {
    font-family: Jaime; /* Para la portada y lugares dónde necesite una fuente sofisticada */
    src: url('font/jaime.ttf');
}
@font-face {
    font-family: Source; /* Para títulos h1, h2, h3, h4, h5 y h6 */
    src: url('font/SourceSansPro-Light.ttf');
}
@font-face {
	font-family: Roboto; /* Para párrafos y listas */
	src: url('font/Roboto-Regular.ttf');
}
p {float: left;}
.img {
	width: 300px;
	height: 300px;
	background-size: 100%;
	float: left;
}
#circle {
	float: left;
	width: 300px;
	height: 300px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	  shape-outside: circle(50%);
	  margin: 10px;
}
#rect {
	float: left;
	width: 300px;
	height: 300px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--linkColor);
	shape-outside: inset(300px 300px 300px 300px 10px);
	margin: 10px;
}
:root {
	--background: #f3f3f3;
	--lightShadow: #aaaaaa;
	--darkShadow: #292929;
	--linkColor: #0bb2d4;	
	--linkHover: #17b3a3;
	--boxColor: #17b3a3;
	--buttonColor: #3e8ef7;
	--buttonHover: #589ffc;
	--buttonText: #fff;
	--inputBorder: #3e8ef7;
	--inputHover: hsl(214, 98%, 68%);
	--miniBar:  #0bb2d4;
	--miniHover:  #28c0de;
}
* {-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;}
a {
	color: var(--linkColor);
	text-decoration: none;
	border-bottom: 2px solid var(--linkColor);
	padding-bottom: 2px;
	cursor: pointer;
}
a:hover {
	color: var(--linkHover);
	border-bottom: 2px solid var(--linkHover);
}

body {
	width: 100%;
	overflow-x: none;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	background-color: var(--background);
}
#root {
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 100vh auto auto auto;
	grid-row-gap: 10px;
}

/*	PORTADA (VIDEO/IMÁGEN)	*/
#root .mainMultimedia {
	grid-column: 2 / span 3;
	grid-row: 1; /* La primer fila es igual a :: calc(100vh - 55px)*/
	background: #000;
}
/*	Category	*/
#category {
	grid-column: 2;
	padding-left: 10px;
	font-family: Halogen;
	font-size: 28px;
	border-left: 5px solid var(--linkColor);
}
/*	Reviews	*/
#reviews, #notas {
	grid-column: 2;
}
#reviews ul, #notas ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-auto-rows: auto;
	grid-gap: 10px;
}
#reviews ul li, #notas ul li {
	background-size: cover;
	background-color: #212121;
	background-position: center;
}
#reviews ul li a, #notas ul li a {
	background-image: url('styleHack/bg-35.png');
	border: none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 100%;
	grid-template-rows: 50px 26px 20px 50px;
	text-align: center;
}
#reviews ul li .title, #notas ul li .title {
	width: 100%;
	font-family: Nikoleta;
	font-size: 26px;
	grid-row: 2;
	text-shadow: 0 0 5px var(--lightShadow);
}
#reviews ul li .category, #notas ul li .category {
	width: 100%;
	grid-row: 3;
	font-family: Roboto;
	font-size: 20px;
	text-shadow: 0 0 5px var(--lightShadow);
}
#reviews ul li .category span, #notas ul li .category span {
	color: var(--buttonColor);
}
/*	POSTS	*/
#root .portrait {
	display: grid;
	grid-column: 1 / span 3;
	grid-row: 1;
	grid-template-columns: 100%;
	grid-template-rows: auto 78px 62px;
	background-size: cover;
	background-position: center;
}
#root .portrait .title {
	grid-row: 2;
	grid-column: 1;
	font-size: 38px;
	padding: 10px 10px 0 10px;
	font-family: Nikoleta;
	opacity: 0.8;
	background-color: var(--linkColor);
}
#root .portrait .author {
	grid-row: 3;
	grid-column: 1;
	font-size: 28px;
	padding: 5px 10px 0 10px;
	font-family: Roboto;
	opacity: 0.8;
	background-color: var(--linkColor);
}
#root .post {
	padding-left: 10px;
	border-left: 3px solid var(--linkColor);
	grid-column: 2;
	font-family: Roboto;
	font-size: 18px;
}
#root .post h1, #root .post h2, #root .post h3 {
	color: var(--linkColor);
}
#root .post ul {
	padding-left: 20px;
}
#root .post #info {
	grid-column: 1;
	border: 2px dashed var(--linkColor);
	padding: 10px;
}
#root .post #info .logo {
	width: 32px;
	height: 32px;
	background-image: url('icon/info.svg');
	background-size: cover;
	fill: var(--linkHover) !important;
}
/*	PERFIL	*/
#root #portrait {
	grid-column: 2 / span 3;
	display: grid;
	grid-template-columns: 5% 45% 45% 5%;
	grid-template-rows: 100vh;
	background-size: cover;
	background-position: center;
}
@media only screen and (max-width: 961px) {
	#root .mainMultimedia {
		grid-column: 1 / span 3;
		grid-row: 2;
		background: #000;
	}
	#root .mainMultimedia iframe {
		height: 50vh;
	}
	#category {
		grid-column: 1 / span 3;
	}
	#reviews, #notas {
		grid-column: 1 / span 3;
	}
	#review ul, #notas ul {
		grid-template-columns: 100%;
		grid-column: 1 / span 3;
	}
	#reviews ul li .title, #notas ul li .title {
		font-size: 20px;
	}
	#reviews ul li .title, #notas ul li .category {
		font-size: 16px;
	}
	#root #portrait {
		grid-column: 1 / span 3;
		grid-row: 2;
	}
	#root .portrait {
		grid-template-rows: auto 48px 32px;
	}
	#root .portrait .title {
		font-size: 22px;
	}
	#root .portrait .author {
		font-size: 17px;
	}
	#root .post {
		grid-column: 1 / span 3;
		border: none;
	}
}