@font-face {
    font-family: Halogen; /* Para la portada y lugares dónde necesite una fuente sofisticada */
    src: url('font/halogen.otf');
}
@font-face {
    font-family: Nikoleta; /* Para la portada y lugares dónde necesite una fuente sofisticada */
    src: url('font/nikoleta.ttf');
}
@font-face {
    font-family: Jaime; /* Para la portada y lugares dónde necesite una fuente sofisticada */
    src: url('font/jaime.ttf');
}
@font-face {
    font-family: Source; /* Para títulos h1, h2, h3, h4, h5 y h6 */
    src: url('font/SourceSansPro-Light.ttf');
}
@font-face {
	font-family: Roboto; /* Para párrafos y listas */
	src: url('font/Roboto-Regular.ttf');
}

:root {
	--background: #f3f3f3;
	--lightShadow: #aaaaaa;
	--darkShadow: #292929;
	--linkColor: #0bb2d4;	
	--linkHover: #17b3a3;
	--boxColor: #17b3a3;
	--buttonColor: #3e8ef7;
	--buttonHover: #589ffc;
	--buttonText: #fff;
	--inputBorder: #3e8ef7;
	--inputHover: hsl(214, 98%, 68%);
	--miniBar:  #0bb2d4;
	--miniHover:  #28c0de;
}
* {-webkit-transition: all 200ms ease;-moz-transition: all 200ms ease;-o-transition: all 200ms ease;transition: all 200ms ease;}
a {
	color: var(--linkColor);
	text-decoration: none;
	border-bottom: 2px solid var(--linkColor);
	padding-bottom: 2px;
	cursor: pointer;
}
a:hover {
	color: var(--linkHover);
	border-bottom: 2px solid var(--linkHover);
}

body {
	width: 100%;
	overflow-x: none;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	background-color: var(--background);
}
#root {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: calc(100vh - 55px) 1fr 1fr 1fr;
	grid-row-gap: 10px;
}

/*	PORTADA (VIDEO/IMÁGEN)	*/
#root .portrait {
	grid-column: 2;
	grid-row: 1; /* La primer fila es igual a :: calc(100vh - 55px)*/
	background: #000;
}
/*	Category	*/
#category {
	grid-column: 2;
	padding-left: 10px;
	font-family: Halogen;
	font-size: 28px;
	border-left: 5px solid var(--linkColor);
}
/*	Reviews	*/
#reviews, #notas {
	display: grid;
	grid-column: 2;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 1fr 1fr; 
	grid-gap: 10px;
}
#reviews ul, #notas ul {list-style-type: none;padding: 0;margin: 0;}
#reviews ul li, #notas ul li {
	background-size: cover;
	background-color: #212121;
}
#reviews ul li .title, #notas ul li .title {
	width: 100%;
	height: 100%;
	background-color: var(--linkHover);
	color: var(--darkShadow);
}
@media only screen and (max-width: 961px) {
	#root .portrait {
		display: none;
	}
	#reviews, #notas {
		grid-column: 1 / 2;
	}
}